@page "/slider/11default"

<h4 class="sample-title">Simple Slider</h4>

<EjsSlider @bind-Value="@slider" HtmlAttributes="@HTMLProps"></EjsSlider>

<br />

<h4 class="sample-title">@slider</h4>

@code {
    object slider = 60;

    Dictionary<string, object> HTMLProps = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };
}