@page "/slider/12range"

<h4 class="sample-title">Range Slider</h4>

<EjsSlider Value="@value" Type="SliderType.Range">
    <SliderLimitData Enabled="true" MinStart="10" MinEnd="40"></SliderLimitData>
</EjsSlider>

@code {
    int[] value = { 20, 80 };
}