@page "/listview/13grouplist"

<h4 class="sample-title">Group List</h4>

<EjsListView HtmlAttributes="@HTMLProps" DataSource="@DataSource" ShowHeader="true" HeaderTitle="@HeaderTitle">
    <ListViewFieldSettings Id="Id" Text="Text" GroupBy="Type"></ListViewFieldSettings>
</EjsListView>

@code {
    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    string HeaderTitle = "Listview header";

    Dictionary<string, object> HTMLProps = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };

    List<DataModel> DataSource = new List<DataModel>()
{
        new DataModel{ Id = "1", Text = "1", Type = "Odd"},
        new DataModel{ Id = "2", Text = "2", Type = "Even"},
        new DataModel{ Id = "3", Text = "3", Type = "Odd"},
        new DataModel{ Id = "4", Text = "4", Type = "Even"},
    };

    class DataModel
    {
        public string Id { get; set; }
        public string Text { get; set; }
        public string Type { get; set; }
    }

}
