@page "/listview/21TemplateEvents"
@using Model

<h4 class="sample-title">Template with Native Events</h4>


<div class="list-item-container">
    <div style="flex: 1">
        <EjsListView DataSource="@DataSource"
                     ModelType="@ModelInstance"
                     ShowHeader="true"
                     CssClass="e-list-template"
                     HeaderTitle="Settings"
                     Width="400">
            <ListViewFieldSettings Id="Id" Text="Name"></ListViewFieldSettings>
            <ListViewTemplates>
                <Template>
                    @{
                        ListDataModel ContextData = context as ListDataModel;
                        <div class="list-item-container">
                            <div class="list-item-text" @onclick="((e) => { onClick(ContextData.Name); })">@ContextData.Name</div>
                            <div class="list-item-button">
                                <EjsButton IsPrimary="true">
                                    <a href="/models/@ContextData.Id">Enter</a>
                                </EjsButton>
                            </div>
                        </div>
                    }

                </Template>
            </ListViewTemplates>
        </EjsListView>
    </div>
    <div style="flex: 1">
        <h4>Selected item: @selectedItem</h4>
    </div>
</div>

@code {
    string selectedItem = null;

    ListDataModel ModelInstance = new ListDataModel();

    void onClick(string text)
    {
        selectedItem = text;
    }

    List<ListDataModel> DataSource = new List<ListDataModel>() {
        new ListDataModel {
            Name = "WI-FI",
            Content = "Disabled",
            Id = "1",
            Class = "wifi",
            Category = "Wireless & networks",
            Order = 0
        },
        new ListDataModel {
            Name = "Bluetooth",
            Content = "Disabled",
            Id = "2",
            Class = "bluetooth",
            Category = "Wireless & networks",
            Order = 0
        },
        new ListDataModel {
            Name = "SIM cards",
            Id = "3",
            Content = "AT&T",
            Class = "sim",
            Category = "Wireless & networks",
            Order = 0
        },
        new ListDataModel {
            Name = "Display",
            Content = "Adaptive brightness is OFF",
            Id = "4",
            Class = "display",
            Category = "Device",
            Order = 1
        },
        new ListDataModel {
            Name = "Sound",
            Content = "Ringer volume at 50%",
            Id = "5",
            Class = "sound",
            Category = "Device",
            Order = 1
        },
        new ListDataModel {
            Name = "Battery",
            Content = "85%",
            Id = "5",
            Class = "battery",
            Category = "Device",
            Order = 1
        },
        new ListDataModel {
            Name = "Users",
            Content = "Signed in as Albert",
            Id = "6",
            Class = "user",
            Category = "Device",
            Order = 1
        },
        new ListDataModel {
            Name = "Location",
            Content = "ON / High accuracy",
            Id = "7",
            Class = "location",
            Category = "Personal",
            Order = 2
        },
        new ListDataModel {
            Name = "Security",
            Id = "8",
            Content = "Screen Lock",
            Class = "security",
            Category = "Personal",
            Order = 2
        },
        new ListDataModel {
            Name = "Languages & input",
            Content = "English (US)",
            Id = "9",
            Class = "language",
            Category = "Personal",
            Order = 2
        }
    };
}

<style>
    .list-item-container {
        display: flex;
        align-items: center;
        padding: 0.65em;
    }

    .list-item-text {
        flex: 1;
        cursor: pointer;
    }

    .list-item-button {
        flex: 0;
    }

    .e-btn a {
        color: white;
    }
</style>
