@page "/listview/23rtl"
@using Model

<h4 class="sample-title">List RTL</h4>

<EjsListView HtmlAttributes="@HTMLProps"
             EnableRtl="true"
             DataSource="@DataSource"
             ShowHeader="true"
             HeaderTitle="@HeaderTitle">
    <ListViewFieldSettings Id="Id" Text="Text"></ListViewFieldSettings>
</EjsListView>

@code {

    string HeaderTitle = "Listview header";

    Dictionary<string, object> HTMLProps = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };

    List<ListDataModel> DataSource = new List<ListDataModel>()
{
        new ListDataModel{ Id = "1", Text = "1"},
        new ListDataModel{ Id = "2", Text = "2"},
        new ListDataModel{ Id = "3", Text = "3"},
        new ListDataModel{ Id = "4", Text = "4"},
    };
}
