@page "/listview/99TestSample"
@*<h4 class="sample-title">Test sample</h4>*@

@using Syncfusion.EJ2.Blazor.Lists
@using Syncfusion.EJ2.Blazor.Data

<EjsListView ShowHeader="true"
             TValue="ListDataModel"
             HeaderTitle="@HeaderTitle"
             Query="new ej.data.Query().from('Products').select('ProductID,ProductName').take(10)">
    <EjsDataManager Adaptor="Syncfusion.EJ2.Blazor.Adaptors.ODataAdaptor"
                    CrossDomain="true"
                    Url="//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/"></EjsDataManager>
    <ListViewFieldSettings Id="ProductID"
                           Text="ProductName"></ListViewFieldSettings>
</EjsListView>

@code {
    string HeaderTitle = "Listview header";

    class ListDataModel
    {
        public string Id { get; set; }
        public string Text { get; set; }
    }
}