@page "/Heatmap/11SimpleHeatmap"

<h4 class="sample-title">Simple Heatmap</h4>

<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <EjsHeatMap ID="Container" DataSource="@HeatmapData" @ref="heatmap" >
                <HeatMapXAxis Labels="@xLabels"></HeatMapXAxis>
                <HeatMapYAxis Labels="@yLabels"></HeatMapYAxis>
                <HeatMapTitle Text="Sales Revenue per Employee (in 1000 US$)"></HeatMapTitle>
            </EjsHeatMap>
        </div>
    </div>
</div>

@code{

    string[] xLabels = new string[] {"Nancy", "Andrew", "Janet", "Margaret", "Steven", "Michael", "Robert",
"Laura", "Anne", "Paul", "Karin", "Mario" };
    string[] yLabels = new string[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" };
    Dictionary<string, object> HTMLProps = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };
    EjsHeatMap heatmap;
    public object HeatmapData { get; set; }
    protected override void OnAfterRender(bool intial)
    {
        HeatmapData = this.heatmap.DataSource = HeatMapData.GetDefaultData();
    }
}
