@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button class="e-btn e-info button">Prev</button>
        <button class="e-btn e-info button">Next</button>
    </div>

    <div class="content px-4">
        
        @Body
    </div>
</div>

<style>
    .button {
        margin: 0 30px;
    }
</style>