@page "/tooltip/11defaulttooltip"

<EjsTooltip  Content="@content">
	<button>Hover Me</button>
    <TooltipTemplates>
        <Content>
            <h3>Template</h3>
        </Content>
    </TooltipTemplates>
</EjsTooltip>

@code {
    string content = "This is tooltip";
}